@import url("//fonts.cdnfonts.com/css/gameria");
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  font-family: "gameria", sans-serif;
  color: white;
  padding: 0px;
  margin: 0px;
  box-sizing: inherit;
}

html {
  background-image: url("/images/Desktop_-_5.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 110vh; */
}

body {
  /* width: 100%;
  height: 100%; */
}

img {
  display: block;
}
/* .container {
  height: 100%;
} */

.container-narrow {
  text-align: center;
  width: min(90%, 1440px);
  margin: auto;
}

.logo-shadow {
  text-shadow: -3px -3px rgba(180, 65, 251, 1), 3px 3px rgba(180, 65, 251, 1),
    0px 9px 20px #6bffe4;
}

.text-shadow {
  text-shadow: 0px 4px 20px rgba(220, 255, 79, 1);
}

.logo {
  max-width: 100%;
  width: min-content;
  /* font-size: clamp(rem, 20vw, 6rem); */
  font-size: 3rem;
  margin: 35px auto 20px auto;
  text-align: center;
}

.card {
  width: 100%;
  max-width: 400px;
  margin: auto;
}
.card img {
  width: 100%;
  margin: auto;
}

.mint-section {
  width: 100%;
  margin: auto;
}

.mintcard {
  background-color: black;
  width: 90%;
  max-width: 400px;
  height: 300px;
  margin: auto;
}

.mintbtn {
  margin: 25px auto;
  width: 400px;
}

/* container-btn {
  border: 2px solid white;
  background-color: #6bffe4;
} */

.mint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
/* .mintbtn img {
  width: 100%;
  max-width: 400px;
  margin: auto;
} */

.hero-section {
  background-color: rgba(62, 61, 61, 0.88);
}

.hero-section {
  padding: 30px;
  margin: auto;
  width: 100%;
  margin-top: 30px;
}

.hero-text-section {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 15px;
}

.hero-text {
  margin-inline: 15px;
  width: max-content;
  text-align: center;
  font-size: 2rem;
}

.hero-cards {
  width: 100%;
  margin: auto;
  padding-top: 25px;
}

.hero-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 200px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.hero-card img {
  width: 100%;
  max-width: 150px;
}

.main-section {
  width: 100%;
  margin-bottom: 0px;
}

.info {
  margin-top: 15px;
}

.info p {
  font-size: 2rem;
}

.mintinput {
  width: 100%;
  padding: 12px;
  background-color: transparent;
  margin-bottom: 25px;
  font-size: 2rem;
  font-family: sans-serif;
  border: none;
  border-bottom: 1px solid gold;
}
.mintinput:focus {
  outline: none;
  /* border: none; */
}

@media screen and (min-width: 800px) {
  .info p {
    font-size: 3rem;
  }
  .logo {
    width: max-content;
  }
  .hero-section {
    margin: auto;
    max-width: 800px;
    margin-bottom: 35px;
  }
  .hero-cards {
    max-width: 700px;
    /* width: 95%; */
    display: flex;
    justify-content: center;
  }

  .hero-text {
    width: max-content;
    font-size: 2.7rem;
  }
}

@media screen and (min-width: 1440px) {
  html {
    width: 100vw;
    height: 100vh;
  }
  .container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: flex-start;
  }

  .hero-text {
    font-size: 3rem;
  }

  .logo {
    width: min-content;
    font-size: 6rem;
  }

  .left {
    display: flex;
    justify-content: flex-end;
    padding: 25px;
    align-items: center;
    width: 40%;
  }

  .right {
    padding-top: 20px;
    width: 60%;
  }

  .postionincontainer {
    display: flex;
    flex-direction: column;
  }
  .main-section {
    order: 1px solid;
    order: 2;
  }
}

.info {
  font-size: 3rem;
  width: max-content;
}

.container-btn {
  border: none;
  background-color: transparent;
}
