@import url("//fonts.cdnfonts.com/css/gameria");
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  font-family: "gameria", sans-serif;
  color: white;
  padding: 0px;
  margin: 0px;
  box-sizing: inherit;
}

body {
  border: 1px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./images/Desktop_-_5.png");
}

img {
  display: block;
}
.container {
  height: 100%;
}

.container-narrow {
  text-align: center;
  border: 1px solid wheat;
  width: min(90%, 1440px);
  margin: auto;
}

.logo-shadow {
  text-shadow: -3px -3px rgba(180, 65, 251, 1), 3px 3px rgba(180, 65, 251, 1),
    0px 9px 20px #6bffe4;
}

.text-shadow {
  text-shadow: 0px 4px 20px rgba(220, 255, 79, 1);
}

.logo {
  max-width: max-content;
  border: 1px solid white;
  width: 100%;
  font-size: clamp(3.2rem, 10vw, 6rem);
  margin: 35px auto 20px auto;
  text-align: center;
}

.card {
  width: 100%;
  max-width: 400px;
  margin: auto;
}
.card img {
  width: 100%;
  margin: auto;
}

.mint-section {
  width: 100%;
  margin: auto;
}

.mintcard {
  background-color: black;
  width: 90%;
  max-width: 400px;
  height: 300px;
  margin: auto;
}

.mintbtn {
  margin: 25px auto;
  width: 200px;
}
.mintbtn img {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.hero-section {
  background-color: rgba(62, 61, 61, 0.88);
}

.hero-section {
  padding: 30px;
  margin: auto;
  width: 100%;
  margin-top: 30px;
}

.hero-text-section {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 15px;
}

.hero-text {
  margin-inline: 15px;
  width: max-content;
  text-align: center;
  font-size: clamp(1rem, 4vw, 3rem);
}

.hero-cards {
  width: 100%;
  margin: auto;
  padding-top: 25px;
}

.hero-card {
  width: 100%;
  max-width: 150px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.hero-card img {
  margin: auto;
  width: 100%;
  max-width: 200px;
}

.main-section {
  margin-bottom: 0px;
}

.info {
  margin-top: 20px;
}

.info p {
  font-size: clamp(2rem, 4vw, 3rem);
}

@media screen and (min-width: 800px) {
  .hero-section {
    margin: auto;
    max-width: 800px;
    margin-bottom: 35px;
  }
  .hero-cards {
    border: 1px solid wheat;
    max-width: 700px;
    /* width: 95%; */
    display: flex;
    justify-content: center;
  }

  .hero-text {
    width: max-content;
  }
}

@media screen and (min-width: 1440px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  .container {
    width: 80%;
    margin: auto;
    display: flex;
  }

  .logo {
    width: min-content;
  }

  .left {
    display: flex;
    justify-content: flex-end;
    padding: 25px;
    align-items: center;
    width: 40%;
  }

  .right {
    margin-top: 55px;
    width: 60%;
  }

  .postionincontainer {
    display: flex;
    flex-direction: column;
  }
  .main-section {
    order: 1px solid;
    order: 2;
  }
}
